In [2]:
#install pyodbc and python-dotenv

%pip install pyodbc
%pip install python-dotenv

Requirement already satisfied: pyodbc in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (4.0.39)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: python-dotenv in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
# import all necessary packages

import pyodbc
from dotenv import dotenv_values
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as ndates


from dotenv import dotenv_values
import pyodbc
import os
import numpy as np



import warnings
warnings.filterwarnings('ignore')

In [4]:
#getting database credentials

#environment_variables = dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file

#database = environment_variables.get('DATABASE')
#server = environment_variables.get('SERVER')
#username = environment_variables.get('USERNAME')
#password = environment_variables.get('PASSWORD')

#connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [5]:
#connection = pyodbc.connect(connection_string)

In [6]:
oil_data = pd.read_csv('C:/Users/USER/Desktop/LP3 Regression Analysis Project Shared Folder/oil.csv')

oil_data

      Unnamed: 0        date  dcoilwtico
0              0  2013-01-01         NaN
1              1  2013-01-02   93.139999
2              2  2013-01-03   92.970001
3              3  2013-01-04   93.120003
4              4  2013-01-07   93.199997
...          ...         ...         ...
1213        1213  2017-08-25   47.650002
1214        1214  2017-08-28   46.400002
1215        1215  2017-08-29   46.459999
1216        1216  2017-08-30   45.959999
1217        1217  2017-08-31   47.259998

[1218 rows x 3 columns]

In [7]:
oil_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1218 non-null   int64
 1   date        1218 non-null   object
 2   dcoilwtico  1175 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.7+ KB

In [8]:
oil_data.isnull().sum()

Unnamed: 0     0
date           0
dcoilwtico    43
dtype: int64

In [9]:
hol_events = pd.read_csv('C:/Users/USER/Desktop/LP3 Regression Analysis Project Shared Folder/holiday_events.csv')
hol_events.head()

,Unnamed: 0,date,type,locale,locale_name,description,transferred
0,0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

# New Section

# New Section

In [10]:
Prepared_test = pd.read_csv('C:/Users/USER/Desktop/LP3 Regression Analysis Project Shared Folder/Prepared_test.csv')
Prepared_test.head()

,id,date,store_nbr,family,onpromotion,oil_price,Store_city,Store_state,store_type,Store_cluster,Holiday_type,locale,locale_name,description,transferred
0,3000888,2017-08-16,1,AUTOMOTIVE,0,46.799999,Quito,Pichincha,D,13,No Event,NaN,NaN,NaN,NaN
1,3000889,2017-08-16,1,BABY CARE,0,46.799999,Quito,Pichincha,D,13,No Event,NaN,NaN,NaN,NaN
2,3000890,2017-08-16,1,BEAUTY,2,46.799999,Quito,Pichincha,D,13,No Event,NaN,NaN,NaN,NaN
3,3000891,2017-08-16,1,BEVERAGES,20,46.799999,Quito,Pichincha,D,13,No Event,NaN,NaN,NaN,NaN
4,3000892,2017-08-16,1,BOOKS,0,46.799999,Quito,Pichincha,D,13,No Event,NaN,NaN,NaN,NaN

In [20]:
Prepared_test.columns

Index(['id', 'date', 'store_nbr', 'family', 'onpromotion', 'oil_price',
       'Store_city', 'Store_state', 'store_type', 'Store_cluster',
       'Holiday_type', 'locale', 'locale_name', 'description', 'transferred'],
      dtype='object')

In [21]:
Prepared_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             28512 non-null  int64
 1   date           28512 non-null  object
 2   store_nbr      28512 non-null  int64
 3   family         28512 non-null  object
 4   onpromotion    28512 non-null  int64
 5   oil_price      28512 non-null  float64
 6   Store_city     28512 non-null  object
 7   Store_state    28512 non-null  object
 8   store_type     28512 non-null  object
 9   Store_cluster  28512 non-null  int64
 10  Holiday_type   28512 non-null  object
 11  locale         1782 non-null   object
 12  locale_name    1782 non-null   object
 13  description    1782 non-null   object
 14  transferred    1782 non-null   object
dtypes: float64(1), int64(4), object(10)
memory usage: 3.3+ MB

In [27]:

Prepared_test['date'] = pd.to_datetime(Prepared_test['date'])
#Prepared_test.set_index('date', inplace=True)
print(Prepared_test['date'].dtypes())

KeyError: 'date'

In [ ]:
#Visualize data
plt.figure = (12,10)
Prepared_test.

In [12]:
hol_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   350 non-null    int64
 1   date         350 non-null    object
 2   type         350 non-null    object
 3   locale       350 non-null    object
 4   locale_name  350 non-null    object
 5   description  350 non-null    object
 6   transferred  350 non-null    bool
dtypes: bool(1), int64(1), object(5)
memory usage: 16.9+ KB

In [13]:
prepared_train = pd.read_csv('C:/Users/USER/Desktop/LP3 Regression Analysis Project Shared Folder/prepared_train.csv')

In [14]:
prepared_train.head()

,date,id,store_nbr,family,sales,onpromotion,oil_price,Store_city,Store_state,store_type,Store_cluster,Holiday_type,locale,locale_name,description,transferred
0,2013-01-01,0,1,AUTOMOTIVE,0.0,0,93.139999,Quito,Pichincha,D,13,Holiday,National,Ecuador,Primer dia del ano,False
1,2013-01-01,1,1,BABY CARE,0.0,0,93.139999,Quito,Pichincha,D,13,Holiday,National,Ecuador,Primer dia del ano,False
2,2013-01-01,2,1,BEAUTY,0.0,0,93.139999,Quito,Pichincha,D,13,Holiday,National,Ecuador,Primer dia del ano,False
3,2013-01-01,3,1,BEVERAGES,0.0,0,93.139999,Quito,Pichincha,D,13,Holiday,National,Ecuador,Primer dia del ano,False
4,2013-01-01,4,1,BOOKS,0.0,0,93.139999,Quito,Pichincha,D,13,Holiday,National,Ecuador,Primer dia del ano,False

In [15]:
prepared_train.isnull().sum()

date                   0
id                     0
store_nbr              0
family                 0
sales                  0
onpromotion            0
oil_price              0
Store_city             0
Store_state            0
store_type             0
Store_cluster          0
Holiday_type           0
locale           2551824
locale_name      2551824
description      2551824
transferred      2551824
dtype: int64

In [16]:
Prepared_test.isnull().sum()

id                   0
date                 0
store_nbr            0
family               0
onpromotion          0
oil_price            0
Store_city           0
Store_state          0
store_type           0
Store_cluster        0
Holiday_type         0
locale           26730
locale_name      26730
description      26730
transferred      26730
dtype: int64

In [17]:
stores_data = pd.read_csv('C:/Users/USER/Desktop/LP3 Regression Analysis Project Shared Folder/stores.csv')
stores_data.head()

,Unnamed: 0,store_nbr,city,state,type,cluster
0,0,1,Quito,Pichincha,D,13
1,1,2,Quito,Pichincha,D,13
2,2,3,Quito,Pichincha,D,8
3,3,4,Quito,Pichincha,D,9
4,4,5,Santo Domingo,Santo Domingo de los Tsachilas,D,4